section {
    background-color: red;
    height: 600px;
    background-image: url(https://prabhatmallik.com.np/html/05/assets/images/banner-01.jpg);

    .image {

        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner {
        width: 800px;
        margin: auto;
        padding-top: 250px;

        h2 {
           
           color:rgb(247, 247, 247);
           font-size: 40px;
           font-weight: bold;
            
        }
        h3 {
           
           display: inline-block;
           padding: 5px;
            font-size: 15px;
            background-color: white;

            span{
                color:red;
            }
             
         }

    }

}