header {
    background-color: $green;
    @include flex();
    box-shadow: 2px 2px 6px gray;


    .log {
        margin-left: 50px;

        h2 {
            color: yellow;
            padding: 20px;

            span {
                color: $white
            }
        }
    }

    .nav {
        margin-right: 80px;

        ul {
            list-style: none;
            @include flex();

            li {
                &:hover {
                    background-color: darkgreen;

                }

                a {
                    color: red;
                    display: inline-block;
                    padding: 20px;
                    color: $white;
                    font-size: 20px;

                    &:hover {
                        color: yellow;
                    }
                }

            }
        }
    }
}